body 
{
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #180101;
}
.mail h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 47 px;
    font-weight: normal;
}
 .articulo 
    {
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    height: 35px;
    width: 25%;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 12px;
    }

    header  H4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}



header h5
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
header p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}


